body {
    background-color: #232323;
    
}

.square {
    width: 25%;
    background-color: purple;
    /* border: 1px solid white; */
    padding-bottom: 20%;
    /* padding-left: 5%; */
    float: left;
    margin: 1.66%;
    ;
}

#container {
    max-width: 600px;
    align-items: center;
    margin: 0 auto;
}

h1 {
    color: white;
    margin: 0 auto;
}

.button {
    background-color: #FF00FF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 80px;
  }

  button {
      font-weight: bold;
      /* font-size: 13px; */
      margin-left: 20px;
      margin-right: 20px;
      /* width: 100px; */
  }

  #white-strip {
      background-color: white;
      text-align: center;
      color: black;
      height: 20px;

  }

  .select {
      background: cornflowerblue;
  }

  