body {
    background-color: #232323;
    
}

.square {
    width: 25%;
    background-color: purple;
    /* border: 1px solid white; */
    padding-bottom: 20%;
    /* padding-left: 5%; */
    float: left;
    margin: 1.66%;
    ;
}

#container {
    max-width: 600px;
    align-items: center;
    margin: 0 auto;
}

h1 {
    color: white;
    margin: 0 auto;
}